@import './vars';

.about {
  &__paragraph {
    padding: 5px 0;
    font-size: 15px;
    text-align: justify;
  }

  &__legend {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }

  &__button {
    margin: 5px 0;
  }
}

.copyright {
  text-align: center;
}
