@import './vars';

.about-legend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.about-button {
  margin: 10px 0;
}

.about-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.about-paragraph,
.about-copyright {
  font-size: 15px;
  text-align: justify;
}

.about-copyright {
  text-align: center;
}
