@import './vars';

.editor-input {
  width: 100%;
  margin-bottom: 5px;
}

.editor-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0 5px;
  border-radius: 5px;
  width: 100%;

  &__desc {
    height: 24px;
    display: flex;
    flex-grow: 1;
  }
}

.editor-question {
  display: flex;
  align-items: center;
  background-color: $base-itembg;
  border: 1px solid $base-itemborder;
  gap: 3px;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 5px;

  &__desc {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 3px 5px;
  }

  &__buttons {
    display: flex;
  }

  &__edit,
  &__trash {
    padding: 3px;
    font-size: 22px;
    cursor: pointer;
  }

  &__edit:hover,
  &__edit:active {
    color: $base-green-active;
    transition: 0.22s ease-in-out;
  }

  &__red:hover,
  &__red:active {
    color: $base-red;
    transition: 0.22s ease-in-out;
  }
}

.faBan {
  padding-right: 5px;
  color: $base-red;
}

.editor-datetime {
  flex-grow: 1;
}

.editor-bottom {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}

.editor-checkbox {
  display: flex;
  flex-direction: row;
  min-width: calc((100% - 20px) * 0.25);
  float: right;
  border: 1px solid $base-border;
  border-radius: 5px;

  &__pad {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 7px 7px;
    flex-grow: 2;
  }

  &__box {
    height: 18px;
    min-width: 33%;
    max-width: 33%;
    cursor: pointer;
  }
}

.short {
  width: 60px;
}
