@import './vars';

.question {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 3px;
  height: 43px;
  padding: 3px 5px;
  border: 1px solid $base-itemborder;
  background-color: $base-itembg;
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  transition: 0.22s ease-in-out;

  &__desc {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 3px;
    flex-direction: row;
    gap: 5px;
  }

  &__teams {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-top: 1px;
  }

  &__info {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__deadline,
    &__score {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__score {
      width: 70px;
      border-radius: 5px;
      height: 36px;
    }

    &__deadline {
      transition: 0.22s ease-in-out;
      font-size: 13px;
      padding-top: 1px;
      white-space: nowrap;
      opacity: 0.7;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 1px;
  }
}

.result-class {
  &__red {
    border: 1px solid $base-question-red;
    border-left-width: 0.32rem;
  }

  &__green {
    border: 1px solid $base-question-green;
    border-left-width: 0.32rem;
  }

  &__grey {
    border-left-width: 0.32rem;
  }
}

.yn {
  height: 36px;
  font-size: 26px;
  width: 42px;
  padding: 2px;
  transition: 0.22s ease-in-out;
  background-color: $base-itembg;
  border: none;
  transition: 0.22s ease-in-out;

  &__container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }

  &__btn:active {
    transition: 0.22s ease-in-out;
  }

  &__correct {
    color: $base-question-green;
    background-color: $base-itembg-active;
    color: $base-black;
  }
  
  &__wrong {
    color: $base-question-red;
    background-color: $base-itembg-active;
    color: $base-black;
  }
  
  &__black,
  &__dark {
    background-color: $base-itembg-active;
    color: $base-black;
  }
  
  &__black {
    opacity: 1;
  }
  
  &__dark {
    border: 1px solid $base-itembg;
  }
  
  &__grey {
    color: $base-question-grey;
    opacity: 0.5;
  }
}
