@import './vars';

.weeklist {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid $base-itemborder;
  background-color: $base-itembg;
  border-radius: 5px;
  margin-bottom: 5px;
  -webkit-tap-highlight-color: transparent;
  height: $row-height;

  &__desc {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 7px;
  }

  &__header {
    align-items: center;
    display: flex;
    font-size: 16px;
    min-height: 30px;
    font-weight: 600;
  }

  :active {
    background-color: $base-itembg-active;
    transition: $base-duration;
  }
}
